input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

/* Style password broder red if invaild */
.pinvalid
{
    border-color: red;
}

/* Style password broder green if vaild */
.pvalid
{
    border-color: green;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 10px;
    position: relative;
}

/* Style the navbar */
nav .navbar-nav li a{
    color: white !important;
    font-family: "Bodoni MT";
    font-size: 20px;
}

.navbar-brand{
    font-family: "Playfair";
    color: black;
    font-size: 36px;
}
p{
    font-family: "Playfair";
    color: black;
    font-size: 24px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
/* Style the card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
/* Style the card title */
.title {
    color: grey;
    font-size: 18px;
}
