[Unit] 
Description=RPC Service for updating user profiles in the application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=saj39
ExecStart=/usr/bin/env php /home/saj39/IT490-Sample/rpc_update_consumer.php

[Install]
WantedBy=multi-user.target
